<ion-header>
  <ion-navbar color="danger">
    <ion-title>
      About
    </ion-title>
      <ion-buttons end>
      <button ion-button (click)="addPlace()"><ion-icon name="add"></ion-icon>Add Missing place</button>
    </ion-buttons>  
  </ion-navbar>
</ion-header>

<ion-content padding>
    
    <ion-item>
        <ion-input type="text" [(ngModel)]="newPlaceName" placeholder="Type the name"></ion-input> 
    </ion-item> 
    <button ion-button (click)="searchPlace()"><ion-icon name="search"></ion-icon>&nbsp;Search</button>
<sebm-google-map 
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="false"
      (mapClick)="mapClicked($event)">
    
      <sebm-google-map-marker 
          *ngFor="let m of markers; let i = index"
          (markerClick)="clickedMarker(m.label, i)"
          [latitude]="m.lat"
          [longitude]="m.lng"
          [label]="m.label"
          [markerDraggable]="m.draggable"
          (dragEnd)="markerDragEnd(m, $event)">
          
        <sebm-google-map-info-window>
          <strong>{{m.placeName}}</strong>
        </sebm-google-map-info-window>
        
      </sebm-google-map-marker>
      
      <sebm-google-map-circle [latitude]="lat + 0.3" [longitude]="lng" 
          [radius]="5000"
          [fillColor]="'red'"
          [circleDraggable]="true"
          [editable]="true">
      </sebm-google-map-circle>

    </sebm-google-map>
</ion-content>
