<ion-header>
  <ion-navbar color="danger">
    <ion-title>
      Map
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="addMarker()"><ion-icon name="add"></ion-icon>Add Marker</button>
    </ion-buttons>  
  </ion-navbar>
</ion-header>
 
<ion-content>
    <button ion-button (click)="newPlace()"><ion-icon name="add"></ion-icon>&nbsp;Add Missing Place</button>
    <br>
    <h4>Search Place</h4>
    <ion-grid>
        <ion-row>
            <ion-col col-8>  
                <ion-item>
                    <ion-input type="text" [(ngModel)]="placeName" placeholder="Type a place name"></ion-input> 
                </ion-item>                
            </ion-col>
            <ion-col col-4>
             <button ion-button (click)="findPlace()"><ion-icon name="search"></ion-icon>&nbsp;Find</button>
            </ion-col>
        </ion-row>
      <!--  <ion-row>
            <ion-col col-6>
                <h5>Latitude</h5>
                    <ion-input type="text" [(ngModel)]="plat" placeholder="latitude"></ion-input>
            </ion-col>
            <ion-col col-6>
               <h5>Longitude</h5> 
                    <ion-input type="text" [(ngModel)]="plng" placeholder="longitude"></ion-input>             
            </ion-col>
        </ion-row>-->
    </ion-grid>
    <br />
  <div #map id="map"></div> 
    <br>
</ion-content>
