
<ion-content>
<h4>Add New Place</h4>
<ion-row>
            <ion-col col-12>  
                <ion-item>
                    <ion-input type="text" [(ngModel)]="newPlaceName" placeholder="Type the name"></ion-input> 
                </ion-item>                
                <ion-item>
                    <ion-input type="text" [(ngModel)]="newPlaceLat"></ion-input> 
                </ion-item>                
                <ion-item>
                    <ion-input type="text" [(ngModel)]="newPlaceLng"></ion-input> 
                </ion-item>                
            </ion-col>
</ion-row>
<button ion-button (click)="saveNewPlace()">Add</button> &nbsp;<button ion-button (click)="cancel()" color="danger">Cancel</button> 
</ion-content>
