<ion-header>
  <ion-navbar color="danger">
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    
    <ion-item>
             <ion-label fixed>First Number</ion-label>
            <ion-input type="text" [(ngModel)]="num1" placeholder="num1"></ion-input>
    </ion-item>
    <ion-item>
             <ion-label fixed>Second Number</ion-label>
            <ion-input type="text" [(ngModel)]="num2" placeholder="num2"></ion-input>              
    </ion-item>
    <button ion-button (click)="operate(num1,num2,'add')"><ion-icon name="operation"></ion-icon>&nbsp;Operate</button>
    <br />
    
    Result : <ion-input type="text" [(ngModel)]="result" placeholder="result"></ion-input> 
    
    <br />
  <ion-list>
    <ion-list-header>Follow us on Twitter</ion-list-header>
    <ion-item>
      <ion-icon name="ionic" item-left></ion-icon>
      @ionicframework
    </ion-item>
  </ion-list>
</ion-content>
